*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
*.cso
*.aps

CMakeSettings.json
Doxyfile

.vshistory/
.vs/
Bin/
external/
!deps/builds/*/*
Assets/
out*/
logs/
build*/
!deps/builds
node_modules/
*docs/
additional_install_files/
